numpy
pandas
requests
scikit-learn>=1.6.0
spacy>=3.7.0
seaborn
tqdm
pytest
colormaps
faker
gensim>=4.3.3
jupyter
jupyterlab_myst
matplotlib
networkx
nltk
plotly
pyvis
scipy>=1.8.0
numba>=0.60
llvmlite>=0.43
umap-learn
sphinx
sphinxcontrib-bibtex
sphinx-pdf-generate
myst-nb